/* Add your Button component css to this file */

/* Button by Love Sonkar   */

:root{
  --mainColor: rgb(173, 255, 47);
}

.Love-Sonkar{
  background-color: var(--mainColor);
}


.Love-Sonkar-btn {
  cursor: pointer;
  padding: 15px 50px;
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  background: var(--mainColor);
  transition: 0.5s ease-in;
  border: none;
}

.Love-Sonkar-btn:hover{
  box-shadow: 0 0 30px var(--mainColor);
  background: var(--mainColor);
  border: 1px solid var(--mainColor);
  animation: borderanim 1s ease-in infinite;
}

@keyframes borderanim {
  0%,
  100% {
    border-radius: 20px 0 20px 0;
  }
  50% {
    border-radius: 50px;
  }
}

/*  button 1 */

.button {
  border-radius: 4px;

  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Roncy r thomas */

#roncy-btn {
  width: 150px;
  height: 50px;
  border-radius: 180px;
  position: relative;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  cursor: pointer;
  line-height: 12px;
}

#roncy-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  display: block;
  width: 80%;
  height: 70%;
  top: 15%;
  left: 10%;
  transition: 0.3s opacity ease-in-out;
  filter: blur(15px);
  opacity: 0;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
}

#roncy-btn:hover:before {
  opacity: 1;
  transition: 0.3s opacity ease-in-out;
  filter: blur(25px);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
}

#roncy-btn:after {
  content: "CLICK ME!";
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  color: rgba(235, 235, 235, 1);
  font-weight: bold;
  z-index: 5;
  position: absolute;
  display: block;
  border-radius: 180px;
  width: 92%;
  height: 80%;
  top: 10%;
  left: 4%;
  background-color: rgb(19, 20, 22);
}

/* James K Jose */
.jkj {
  background-color: #f79533;
}
/* Saksham Mahajan */
.Saksham {
  background-color: #f69696;
}

/* irwanphan */
#irwanphan-btn {
  width: 150px;
  height: 54px;
  cursor: pointer;
  line-height: 12px;
  position: relative;
  border-radius: 16px;
  transition: .3s ease all;
  background-color: #000f0b;
  border: 2px solid #000f0b;
}
#irwanphan-btn::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  font-weight: 600;
  line-height: 54px;
  color: aliceblue;
  text-align: center;
  position: absolute;
  transition: .3s ease all;
  content: "it's a button :)";
}
#irwanphan-btn:hover {
  border: 2px solid #13d522;
}
#irwanphan-btn:hover::before {
  color: #13d522;
}