/* change your card color */

.card1 {
  background-color: #ff7281;
}

.card2 {
  background-color: #ff8f56;
}

.card3 {
  background-color: #0fc9e7;
}

.card6 {
  background-color: rgb(229, 9, 20);
}
