/* change your card color */

/* if you want change card color please specify your name as selector */

.philip {
  background-color: #5f067b;
}

.joyal {
  background-color: #4e739c;
}

.Kilari {
  background-color: rgb(229, 9, 20);
}

.demo {
  background-color: #35cce0;
}
