/* Please don't edit this file*/
:root {
  --primary-color: #ffdd67;
  --padding-main: 20px;
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Anton", sans-serif;
  --button-color: #ef584a;
}

body {
  font-family: var(--primary-font);
}

a {
  text-decoration: none !important;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: rgb(160, 160, 160);
  text-align: center;
}

/* global color values */

.title,
.card-title {
  color: white;
}

/* main section css */

.header,
.items {
  padding: var(--padding-main);
}

.row {
  margin: var(--padding-main);
}

.section-for-header,
.header {
  background-color: var(--primary-color);
  color: rgb(0, 0, 0);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  flex-direction: column;
}

.content-header h1 {
  font-size: 4rem;
  font-weight: 900;
  font-family: var(--primary-font);
  letter-spacing: 3px;
}

.content-body h3 {
  font-weight: bold;
}

.btn {
  margin: 30px;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  padding: 0.75em 1em;
  transition: none;
  position: relative;
  background-color: #ff5a79;
  color: #fff;
  /* box-shadow: 0 4px #f3002e; */
  text-decoration: none;
}

/* card content */

.component {
  display: flex;
  justify-content: center;
  padding: var(--padding-main);
}

/* main-page css */

.main-page {
  transition: 0.3s;
  border-radius: 10px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  border: 2px solid #f0f0f0;
  margin: 10px;
  transition: 0.4s;
}

.title strong {
  font-size: 30px;
  padding-top: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.content h1 {
  font-size: 60px;
}

/* common css for cards in other pages */

.card {
  border-radius: 10px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  max-height: 800px;
  border: 2px solid #dddddd;
  margin: 10px;
  transition: 0.4s;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.main-page:hover {
  box-shadow: 3px 3px 20px 2px rgba(96, 96, 96, 0.25),
    -3px -3px 20px 2px rgba(99, 99, 99, 0.22);
  transform: scale(0.9, 0.9);
}

.card-title {
  border-radius: 10px 10px 0px 0px;
  width: inherit;
  padding: 20px;
  margin: 0px;
  text-align: center;
}

.card-content {
  padding: 50px;
}

.creater-name h2 {
  font-size: 20px;
}
